html,
body,
body > .container {
  height: 100%;
}

body {
  > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}


textarea{
	-webkit-appearance: none;
	border: none;
	width: 100%;
	background: #e1e1e1;
	padding: 10px 30px;
}
.table{
	  display: block;
	  width: 320px;
	  margin: auto;

	  .table-inner{
	     & > div{
	     	float: left;
	     	margin-bottom: 30px;
	     	& > span{
	     		display: block;
	     		margin:auto;
	     	}
	     	.title{
	     		font-size: 24px;
	     		font-weight: bold;
	     	}
	     	.author{
	     		float:left;
	     		font-weight: bold;
	     		font-style:italic;
	     	}
	     	.date{
	     		float:right;

	     	}
	     	.description{
	     		float:left;

	     	}
	     }
	  }

}

.comments {
  margin: 0 auto;
  max-width: 500px;
}
